@{
    ViewData["Title"] = "Privacy Policy";
}
<header>

        <section class="bg-counter demo-banner">
            <h2 class="d-none">as</h2>
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <div class="serial-box">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="serial-box">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="serial-box">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="serial-box mb-0">
                        </div>

                    </div>

                </div>
            </div>

        </section>
    </header>



<p>Use this page to detail your site's privacy policy.</p>
