@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


    <section class=" backgroundlogin">
    <div class="row justify-content-center paddingTop">
        <div class="col-md-6">
            <div class="login-box">
                <h2>Profile Setting</h2>
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="user-box">
                        <input asp-for="Username" disabled>
                        
                    </div>
                    <div class="user-box">
                        <input type="text" asp-for="Input.PhoneNumber">
                        <label asp-for="Input.PhoneNumber"></label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button"  type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        S'inscrire
                    </button>
                </form>
                
            </div>
        </div>





    </div>

</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
