@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}



<section class=" backgroundlogin"> 
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row justify-content-center paddingTop">
       
        <div class="col-md-6">
            <div class="login-box">
                <h2>@ViewData["Title"]</h2>
                <form id="set-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="user-box">
                        <input type="text" asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true">
                        <label asp-for="Input.NewPassword"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="user-box">
                        <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    </div>

                    <button type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Enregistrer
                    </button>
                </form>

            </div>
        </div>





    </div>

</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
